@font-face {
  font-family: 'Name does not matter';
  src: url('https://willowpunch.github.io/fonts/PixelFontCyrillicConlow.woff') format('woff'),
       url('https://willowpunch.github.io/fonts/PixelFontCyrillicConlow.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}